# Node modules
node_modules/

# VSCode settings and extensions
.vscode/

# Build output
out/

# Debug logs
*.log

# TypeScript artifacts
*.tsbuildinfo

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Dependency directory for yarn
.yarn/

# .env files
.env

# Ignore package-lock.json if using yarn
# package-lock.json
dist/
*.vsix
*.tar.*
